.photo-grid {
  column-count: 3;
  column-gap: 1.5em;
}

.photo-grid-item {
  margin-bottom: 1rem;
  padding: 0;
  display: block;
  break-inside: avoid;
  position: relative;
}

.photo-grid-item img{
  width: 100%;
  display: block;
  border-radius: 2px;
}

.photo-grid-item img:hover {
  filter: brightness(0.65);
}

.photo-grid-item a {
  text-decoration: none;
  color: inherit;
}

.photo-grid-item .label {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: none;
}

.photo-grid-item a:hover .label {
  display: block;
}

@media (max-width: 992px) {
  .photo-grid {
    column-count: 2;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    column-count: 1;
  }
}

html {
  font-size: 14px;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  justify-content: center;
}

.app-shell {
  flex: 1;
  display: flex;
  justify-content: center;
}

.app-content {
  width: 100%;
  max-width: 1200px;
  padding: 1.5rem 1rem;
}

footer {
  flex-shrink: 0 !important;
  margin-top: auto !important;
  padding: 2rem 0 1rem !important;
}